In [109]:
import pandas as pd
import numpy as np
import os

In [110]:
csvfile_path="/ibex/user/lij0w/codes/gender_layer8_0_fairresult.csv"
csv_file=pd.read_csv(csvfile_path)
csv_file=csv_file[csv_file["attribute"]!="no human face"]
# total=np.array(csv_file.groupby("label").count().values.squeeze(1))
total=csv_file.groupby("label").count()
print(total)

                            attribute
label
accountant                         96
aerospace engineer                 84
aide                               95
air conditioning installer         93
architect                          91
...                               ...
waiter                             97
waitress                           87
welder                             77
wholesale buyer                    84
writer                             85

[150 rows x 1 columns]

In [111]:
attributes=["a female","a male"]

In [112]:
result_list=[]
columns_name=[]
for attr in attributes:
    # result_dict[attr]=(csv_file[csv_file["attribute"]==attr]).groupby("label").count().values.squeeze(1)
    # csv_file.groupby("label")[csv_file["attribute"]!=attr]
    result_list.append((csv_file[csv_file["attribute"]==attr]).groupby("label").count())
    columns_name.append(attr)
    # print(csv_file)
result_list.append(total)
print(result_list)

[                 attribute
label
accountant               5
aide                    13
artist                   3
author                   3
baker                    3
...                    ...
underwriter             10
veterinarian            22
waitress                65
wholesale buyer         10
writer                   2

[100 rows x 1 columns],                             attribute
label
accountant                         91
aerospace engineer                 84
aide                               82
air conditioning installer         93
architect                          91
...                               ...
waiter                             97
waitress                           22
welder                             77
wholesale buyer                    74
writer                             83

[150 rows x 1 columns],                             attribute
label
accountant                         96
aerospace engineer                 84
aide                               95
air conditioning installer         93
architect                          91
...                               ...
waiter                             97
waitress                           87
welder                             77
wholesale buyer                    84
writer                             85

[150 rows x 1 columns]]

In [113]:
result_df=pd.concat(result_list,axis=1)
result_df.columns=columns_name+["total"]
result_df=result_df.fillna(0)
result_df

                  a female  a male  total
label
accountant             5.0      91     96
aide                  13.0      82     95
artist                 3.0      80     83
author                 3.0      79     82
baker                  3.0      90     93
...                    ...     ...    ...
taxi driver            0.0      90     90
tractor operator       0.0      83     83
truck driver           0.0      87     87
waiter                 0.0      97     97
welder                 0.0      77     77

[150 rows x 3 columns]

In [114]:
np.average(np.std(result_df[attributes].values,axis=1)/result_df["total"].values)

0.40303031880539597